/**
 * @author Stavros Lamprinos [stalab at linuxmail.org] on 13/1/2021.
 */

.FooterContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.FooterContent div {
    flex: 499px;
    color: white;
}

.FooterContent .Container {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
}

.FooterContent .Container .ContactInfo {
    flex-direction: column;
    font-size: .7rem;
}

.FooterContent .Container .ContactInfo div a {
    text-decoration: none;
    color: #002d52;
}

.FooterContent .Container .ContactInfo div a:hover {
    border-bottom: 1px solid #002d52;
}

.FooterContent .Icon {
    color: white;
    margin-left: 1rem;
    font-size: 2rem;
}

@media (max-width: 500px) {

}

