/**
 * @author Stavros Lamprinos [stalab at linuxmail.org] on 13/1/2021.
 */

.NavBar {
    position: fixed;
    top: 0;
    left: 0;
}


.Toolbar {
    height: 88px;
    width: 100%;
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    background-color: #9b1335;
    display: flex;
    justify-content: space-between;
    /*flex-wrap: wrap;*/
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Logo {
    height: 100%;
}

.Toolbar .AppTitle {
    font-size: 3rem;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
}


@media (max-width: 500px) {
    .Toolbar {
        justify-content: center;
    }

    .Toolbar button,
    .DesktopOnly {
        display: none;
    }
}

@media (max-width: 1299px) {
    .Toolbar {
        justify-content: space-between;
    }

}